{% style %}
  .w-full-image {
    width: 100%;
    height: auto;
    visibility: hidden;

  }
  .image-wrap {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('{{ section.settings.image | img_url: 'original' }}');
    transition: all 2s ease;
  }
  .slideshow-container {
    position: relative;
  }

  .slideshow-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    font-family: 'ABeeZee'
    , sans-serif;
  }

  .slideshow-text-container > * {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .container-text {
    display: flex;
    justify-content: flex-end;
    padding: 3%;
    text-transform: uppercase;
    color: white;
  }

  .hover-state-text-one {
    font-size: clamp(10px, 0.8vw, 15px);
    margin: 0;
  }

  .hover-state-text-two {
    font-size: clamp(10px, 0.9vw, 15px);
    text-transform: none;
    margin: 0;
  }

  .hover-state-richtext {
    font-size: clamp(20px, 4vw, 40px);
    margin: 0;
  }

  .hover-state-button {
    border: none;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    color: black;
    width: fit-content;
    text-transform: uppercase;
    align-self: start;

  }

  .text-content-container {
    width: 70%;
    height: 30%;
    min-width: 500px;
    max-height: 200px;
  }

  .text-content-align {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .container-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


  }
  .block-text-one {
    font-size: clamp(15px, 2vw, 24px);
    text-transform: uppercase;
    font-weight: 400;


  }
  .block-text-twoo {
    font-size: clamp(10px, 1vw, 16px);
    margin-top: 3%;
    font-weight: 400;

  }
  .block-text-three {
    font-size: clamp(10px, 2vw, 12px);
    text-transform: uppercase;
    margin-top: 9%;
    font-weight: 400;
  }


  .block-content {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    border-left: 1px solid #5c5e59;
    border-bottom: 1px solid #5c5e59;
    transition: all 2s ease;


  }
  .block-content:hover {
    background-color: white;
    color: black;
  }
  .block-content:hover > .block-text-one {
    color: black;
  }
  .block-content:hover > .block-text-three > img {
    filter: invert(1);
  }


  @media screen and (max-width: 768px) {
    .slideshow-text-container {
      flex-direction: column;
      align-items: space-between;

    }
    .slideshow-text-container > * {
      width: 100%;
      height: 50%;
    }
    .image-wrap {
      background-image: url('{{ section.settings.mobile_image | img_url: 'original' }}');
    }
    .container-text {

      justify-content: flex-start;
      padding: 7%;
    }
    .text-content-container {
      min-width: null;
      min-height: 160px;
    }
    .container-block {}
  .block-text-two {
    display: none;

  }
  .block-text-three {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: transparent;

  }
  .block-content {

    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #5c5e59;
    height: fit-content;
    border-bottom: none;
    padding: 1%;
    align-items: center;
  }
  .container-block {
    justify-content: flex-end;
  }


}


{% endstyle %}


<div class="slideshow-container">
  <div
    class="image-wrap"
    id="image-wrap"
    data-default-image="{{ section.settings.image | img_url: 'original' }}">
    {% render 'responsive-picture'
      , desktopImage: section.settings.image
      , mobileImage: section.settings.mobile_image
      , img-class: 'w-full-image' %}
  </div>
  <div class="slideshow-text-container">
    <div class="container-text">
      <div class="text-content-container">
        <div class="text-content-align">
          <div class="hover-state-text-one">{{ section.settings.text_before }}</div>
          <div class="hover-state-richtext">{{ section.settings.richtext }}</div>
          <div class="hover-state-text-two">{{ section.settings.text_after }}</div>
          <button class="hover-state-button">{{ section.settings.button_text }}</button>
        </div>
      </div>
    </div>
    <div class="container-block">
      {% for block in section.blocks %}
        <div
          class="block-content"
          data-image="{{ block.settings.block_background_image | img_url: 'original' }}"
          id="block-{{ forloop.index }}">
          <div class="block-text-one">{{ block.settings.block_text_one }}</div>
          <div class="block-text-twoo">{{ block.settings.block_text_two }}</div>
          <div class="block-text-three">{{ block.settings.block_text_three }}
            <img
              src="https://cdn.shopify.com/s/files/1/0878/2997/1246/files/Rectangle_6.png?v=1722229214"
              alt="right arrow image"
              width="auto"
              height="auto" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hover State",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "text_before",
        "label": "Text Before",
        "default": "FITNESS & WORKOUT"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Rich Text",
        "default": "<p>over 200 inclusive <br> classes weekly</p>"
      }, {
        "type": "text",
        "id": "text_after",
        "label": "Text After",
        "default": "Full-service premium amenities. Just bring you, and we do the rest!"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "book classes"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Text Block",
        "settings": [
          {
            "type": "text",
            "id": "block_text_one",
            "label": "Block Text One",
            "default": "First Text"
          }, {
            "type": "text",
            "id": "block_text_two",
            "label": "Block Text Two",
            "default": "Second Text"
          }, {
            "type": "text",
            "id": "block_text_three",
            "label": "Block Text Three",
            "default": "Third Text"
          }, {
            "type": "image_picker",
            "id": "block_background_image",
            "label": "Block Background Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hover State"
      }
    ]
  }
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const blocks = document.querySelectorAll('.block-content');
    const imageWrap = document.getElementById('image-wrap');
    const defaultImageUrl = imageWrap.getAttribute('data-default-image');
  
    blocks.forEach(block => {
      block.addEventListener('mouseenter', function() {
        
    
        const imageUrl = block.getAttribute('data-image');
        imageWrap.style.backgroundImage = `url(${imageUrl})`;
      });
  
      block.addEventListener('mouseleave', function() {
      imageWrap.style.backgroundImage = `url(${defaultImageUrl})`;
      });
    });
  });
</script>