<style>
  .full-width-image {
    width: 100%;
    height: auto;
  }
 

  .banner-content {
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'ABeeZee', sans-serif;
    
  }

  .align-top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .align-top-center {
    align-items: center;
    justify-content: flex-start;
  }

  .align-top-right {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .align-center-left {
    align-items: flex-start;
    justify-content: center;
  }

  .align-center-center {
    align-items: center;
    justify-content: center;
    
  }

  .align-center-right {
    align-items: flex-end;
    justify-content: center;
  }

  .align-bottom-left {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .align-bottom-center {
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }

  .align-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .text-content{
    font-size: clamp(30px, 3vw, 50px);
    letter-spacing: 1vw;
    text-align: center;
  }

  .cta-button {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    transition:all 2s ease;
  }

  .cta-button:hover{
       background-color: rgb(11, 11, 11);
      
  }

  @media (max-width: 768px) {
  .align-bottom-center {
    align-items: center;
    justify-content: center;
    margin-top: 35%;
  }
}
</style>

<div class="image-banner">
  <div class="image-container">
    {% render 'responsive-picture',
      desktopImage: section.settings.image,
      mobileImage: section.settings.mobile_image,
      img-class: 'full-width-image'
    %}
  </div>
  <div class="banner-content {{ section.settings.content_position }}">
    <div class="text-content" style="color:{{ section.settings.color }};">
      {{ section.settings.textcontent }}
    </div>
    <div class="button-container">
      <button class="cta-button" style="color:{{ section.settings.button_color }};">
        {{ section.settings.button_text }}
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        {
          "label": "Top Left",
          "value": "align-top-left"
        },
        {
          "label": "Top Center",
          "value": "align-top-center"
        },
        {
          "label": "Top Right",
          "value": "align-top-right"
        },
        {
          "label": "Center Left",
          "value": "align-center-left"
        },
        {
          "label": "Center Center",
          "value": "align-center-center"
        },
        {
          "label": "Center Right",
          "value": "align-center-right"
        },
        {
          "label": "Bottom Left",
          "value": "align-bottom-left"
        },
        {
          "label": "Bottom Center",
          "value": "align-bottom-center"
        },
        {
          "label": "Bottom Right",
          "value": "align-bottom-right"
        }
      ],
      "default": "align-bottom-center"
    },
    {
      "type": "richtext",
      "id": "textcontent",
      "label": "Text Content",
      "default": "<p>SWEAT. RECOVER.CONNECT.</p>"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "JOIN US"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Text Color"
    }
  ],
  "presets": [
    {
      "name": "Banner Image"
    }
  ]
}
{% endschema %}
