 <div class="wellness-recovery-slideshow-container">
  <div class="wellness-recovery-image-wrap">
    {% render 'responsive-picture',
      desktopImage: section.settings.wellness_recovery_image,
      mobileImage: section.settings.wellness_recovery_mobile_image,
      img-class: 'wellness-recovery-full-image' %}
  </div>
  <div class="wellness-recovery-text-container">
    <div class="wellness-recovery-container-text">
      <div class="wellness-recovery-text-content-container">
        <div class="wellness-recovery-text-content-align">
          <div class="wellness-recovery-text-one">{{ section.settings.wellness_recovery_text_before }}</div>
          <div class="wellness-recovery-richtext">{{ section.settings.wellness_recovery_richtext }}</div>
          <div class="wellness-recovery-text-two">{{ section.settings.wellness_recovery_text_after }}</div>
          <button class="wellness-recovery-button">{{ section.settings.wellness_recovery_button_text }}</button>
        </div>
      </div>
    </div>
    <div class="wellness-recovery-container-block">
      <div class="wellness-recovery-block-container">
        {% for block in section.blocks %}
          {% if block.settings.wellness_recovery_block_text_one and block.settings.wellness_recovery_block_text_two %}
            <div class="block-text-container">
              <p class="block-text-one">{{ block.settings.wellness_recovery_block_text_one }}</p>
              <p class="block-text-two">{{ block.settings.wellness_recovery_block_text_two }}</p>
            </div>
          {% elsif block.settings.wellness_recovery_block_text_one %}
            <p class="block-text-one">{{ block.settings.wellness_recovery_block_text_one }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .wellness-recovery-full-image {
    width: 100%;
    height: auto;
  }

  

  .wellness-recovery-slideshow-container {
    position: relative;
  }

  .wellness-recovery-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'ABeeZee', sans-serif;
  }

  .wellness-recovery-text-container > * {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .wellness-recovery-container-text {
    display: flex;
    justify-content: flex-end;
    padding: 3%;
    text-transform: uppercase;
    color: white;
  }

  .wellness-recovery-text-one {
    font-size: clamp(10px, 0.8vw, 15px);
    margin: 0;
  }

  .wellness-recovery-text-two {
    font-size: clamp(10px, 0.9vw, 15px);
    text-transform: none;
    margin: 0;
  }

  .wellness-recovery-richtext {
    font-size: clamp(20px, 4vw, 40px);
    margin: 0;
  }

  .wellness-recovery-button {
    border: none;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
    color: black;
    width: fit-content;
    text-transform: uppercase;
    align-self: start;
  }

  .wellness-recovery-text-content-container {
    width: 70%;
    height: 30%;
    min-width: 600px;
    max-height: 400px;
  }

  .wellness-recovery-text-content-align {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wellness-recovery-container-block {
    display: flex;
    justify-content: flex-end;
  }

  .wellness-recovery-block-container {
    background-color: red;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    .wellness-recovery-text-container {
      flex-direction: column;
      align-items: space-between;
    }

    .wellness-recovery-text-container > * {
      width: 100%;
      height: 50%;
    }

    .wellness-recovery-container-text {
      justify-content: flex-start;
      padding: 7%;
    }

    .wellness-recovery-text-content-container {
      min-width: null;
      min-height: 160px;
    }
  }
</style>

{% schema %}
{
  "name": "Wellness and Recovery",
  "settings": [
    {
      "type": "image_picker",
      "id": "wellness_recovery_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "wellness_recovery_mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "wellness_recovery_text_before",
      "label": "Text Before",
      "default": "Wellness & Spa"
    },
    {
      "type": "richtext",
      "id": "wellness_recovery_richtext",
      "label": "Rich Text",
      "default": "<p>Take wellness <br>& recovery to <br>a whole new level</p>"
    },
    {
      "type": "text",
      "id": "wellness_recovery_text_after",
      "label": "Text After",
      "default": "Full-service premium amenities. Just bring you, and we do the rest!"
    },
    {
      "type": "text",
      "id": "wellness_recovery_button_text",
      "label": "Button Text",
      "default": "Book Classes"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        {
          "type": "text",
          "id": "wellness_recovery_block_text_one",
          "label": "Block Text One",
          "default": "First Text"
        },
        {
          "type": "text",
          "id": "wellness_recovery_block_text_two",
          "label": "Block Text Two",
          "default": "Second Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Wellness and Recovery"
    }
  ]
}
{% endschema %} 
